/* .nav-body {
  background-image: url(./logo.jpg);
  background-repeat: no-repeat;
  background: cover;
} */
/* .nav-text {
  display: block;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  color: black;
} */
